@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
}

a {
  text-decoration: none;
}

.heading-primary {
  font-size: clamp(1.5rem, 4vw, 2.25rem);
  font-weight: 700;
  line-height: 1.6;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.heading-primary--font-medium {
  font-weight: 500;
}

.heading-secondary {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  font-weight: 700;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.heading-secondary--font-medium {
  font-weight: 500;
}

.heading-tertiary {
  font-size: clamp(0.75rem, 1vw, 1.25rem);
  font-weight: 500;
  color: #000;
}

.paragraph {
  font-size: clamp(1rem, 3vw, 1.3rem);
  line-height: 2;
}
.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.u-padding-top-big {
  padding-top: 5.625rem;
}

.u-padding-top-medium {
  padding-top: clamp(1rem, 3vw, 6rem);
}

.u-padding-top-bottom {
  padding: clamp(3.37rem, 6vw, 5.62rem) 0;
}

.u-padding-top-bottom-small {
  padding: clamp(3.37rem, 5vw, 5.4rem) 0;
}

.u-padding-bottom-medium {
  padding-bottom: clamp(3.37rem, 6vw, 5.62rem);
}

.u-wrapp-pos-absolute {
  position: absolute;
  bottom: clamp(1rem, 2vw, 3rem);
  right: clamp(1rem, 2vw, 3rem);
  z-index: 1000;
  transform: translateY(50%);
}

.u-translate-y {
  transform: translateY(clamp(10rem, 22vw, 16rem));
}

.u-text-center {
  text-align: center;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0 auto;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.benefit-card {
  display: flex;
  gap: 0.63rem;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .benefit-card {
    gap: 1.63rem;
    padding: 0 clamp(1rem, 2vw, 4rem);
    border-right: 0.6px solid #C4C4C4;
  }
}
.benefit-card:first-child {
  padding-left: 0;
}
.benefit-card:last-child {
  border: none;
  padding-right: 0;
}
.benefit-card__icon {
  width: clamp(2.2rem, 6vw, 3.45rem);
  padding: 0.3em;
}
.benefit-card__icon--museum {
  width: clamp(1.1rem, 3vw, 1.87em);
  border: 3px solid #ECB235;
  border-radius: 50%;
  padding: 0.4em;
  margin: 0.5em;
}
.benefit-card__text {
  font-size: clamp(0.75rem, 2vw, 1.125rem);
}

.blog-card {
  background-color: antiquewhite;
  height: clamp(14.525rem, 5vw, 21rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 1.25rem;
  display: grid;
  align-content: end;
  color: #fff;
  transition: background-color 0.3s ease;
}
.blog-card--1 {
  background-image: url(../assets/img/blog-1.jpg);
  order: 1;
}
.blog-card--1:hover {
  background: linear-gradient(0deg, rgba(236, 178, 53, 0.61) 0%, rgba(236, 178, 53, 0.61) 100%), linear-gradient(64deg, #2e2e2e 0%, rgba(0, 0, 0, 0) 100%), url(../assets/img/blog-1.jpg), lightgray 50%/cover no-repeat;
  background-blend-mode: normal, normal, luminosity;
}
.blog-card--2 {
  background-image: url(../assets/img/blog-2.jpg);
  order: 2;
}
.blog-card--2:hover {
  background: linear-gradient(0deg, rgba(236, 178, 53, 0.61) 0%, rgba(236, 178, 53, 0.61) 100%), linear-gradient(64deg, #2e2e2e 0%, rgba(0, 0, 0, 0) 100%), url(../assets/img/blog-2.jpg), lightgray 50%/cover no-repeat;
  background-blend-mode: normal, normal, luminosity;
}
@media screen and (min-width: 700px) {
  .blog-card--2 {
    order: 3;
  }
}
@media screen and (min-width: 700px) {
  .blog-card--2 {
    order: 4;
  }
}
.blog-card--3 {
  background-image: url(../assets/img/blog-3.jpg);
  order: 3;
}
.blog-card--3:hover {
  background: linear-gradient(0deg, rgba(236, 178, 53, 0.61) 0%, rgba(236, 178, 53, 0.61) 100%), linear-gradient(64deg, #2e2e2e 0%, rgba(0, 0, 0, 0) 100%), url(../assets/img/blog-3.jpg), lightgray 50%/cover no-repeat;
  background-blend-mode: normal, normal, luminosity;
}
@media screen and (min-width: 700px) {
  .blog-card--3 {
    order: 2;
  }
}
@media screen and (min-width: 900px) {
  .blog-card--3 {
    order: 2;
  }
}
.blog-card--4 {
  background-image: url(../assets/img/blog-4.jpg);
  display: none;
}
.blog-card--4:hover {
  background: linear-gradient(0deg, rgba(236, 178, 53, 0.61) 0%, rgba(236, 178, 53, 0.61) 100%), linear-gradient(64deg, #2e2e2e 0%, rgba(0, 0, 0, 0) 100%), url(../assets/img/blog-4.jpg), lightgray 50%/cover no-repeat;
  background-blend-mode: normal, normal, luminosity;
}
@media screen and (min-width: 700px) {
  .blog-card--4 {
    display: grid;
    order: 4;
  }
}
@media screen and (min-width: 900px) {
  .blog-card--4 {
    order: 3;
  }
}
.blog-card--5 {
  background-image: url(../assets/img/blog-5.jpg);
  display: none;
  position: relative;
}
.blog-card--5:hover {
  background: linear-gradient(0deg, rgba(236, 178, 53, 0.61) 0%, rgba(236, 178, 53, 0.61) 100%), linear-gradient(64deg, #2e2e2e 0%, rgba(0, 0, 0, 0) 100%), url(../assets/img/blog-5.jpg), lightgray 50%/cover no-repeat;
  background-blend-mode: normal, normal, luminosity;
}
@media screen and (min-width: 900px) {
  .blog-card--5 {
    display: grid;
    order: 5;
    grid-column: 2/-1;
  }
}
.blog-card__date {
  font-size: clamp(0.75rem, 2vw, 0.875rem);
  margin: 0;
}
.blog-card__title {
  margin: 0.5em 0;
}
.blog-card__title img {
  padding-left: 3rem;
}
.blog-card__author {
  display: flex;
  gap: 0.4rem;
  margin-top: 0;
  font-size: clamp(0.75rem, 2vw, 0.875rem);
}

.button {
  color: #000;
  background-color: #fff;
  padding: clamp(0.625rem, 2vw, 1.25rem) clamp(2rem, 7vw, 5rem);
  border: none;
}
.button:hover {
  color: #000;
  background-color: #ECB235;
}
.button--primary {
  border: 1px solid #000;
}
.button--primary:hover {
  color: #ECB235;
  background-color: #131313;
}
.button--big {
  background-color: #ECB235;
  padding: clamp(1.4rem, 4vw, 3.1rem) clamp(1rem, 4vw, 2.8rem);
  font-size: clamp(0.75rem, 2vw, 0.875rem);
  border: none;
}
.button--big:hover {
  transform: scale(1.03);
}
.button--big-dark {
  background-color: #131313;
  color: #fff;
  padding: clamp(1.4rem, 4vw, 3.1rem) clamp(1rem, 4vw, 2.8rem);
  font-size: clamp(0.75rem, 2vw, 0.875rem);
  flex: 1;
}
.button--big-dark:hover {
  background-color: #131313;
  color: #fff;
  transform: scale(1.03);
}
.button--big-dark img {
  width: 3vw;
  min-width: 2rem;
  max-width: 3rem;
}
.button--cart {
  border: none;
  padding: 15em 0 0 7em;
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
  transform: translateY(0.3em);
}
@media screen and (min-width: 1050px) {
  .button--cart {
    opacity: 0;
  }
}
.button--cart:hover {
  background-color: rgba(255, 255, 255, 0);
  opacity: 100%;
  transform: scale(1.03);
}
@media screen and (min-width: 1050px) {
  .button--cart:hover {
    transform: scale(1);
  }
}
.button--cart img {
  min-width: 2.12rem;
  width: 8vw;
  max-width: 3.37rem;
}

.card-1 {
  height: clamp(12.2rem, 22vw, 29rem);
  background-color: antiquewhite;
  padding: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  text-align: center;
  place-items: center;
}
@media screen and (min-width: 850px) {
  .card-1 {
    align-content: end;
    padding-bottom: 5rem;
  }
}
.card-1--1 {
  background-image: url(../assets/img/coin_1.jpg);
}
.card-1--2 {
  background-image: url(../assets/img/coin_2.jpg);
}
.card-1--3 {
  background-image: url(../assets/img/coin_3.jpg);
}

.card-2 {
  background-color: antiquewhite;
  height: clamp(17.75rem, 34vw, 38.125rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 1.25rem;
  display: grid;
  align-content: end;
}
.card-2__text-box {
  text-align: start;
  padding-bottom: clamp(3.5rem, 7vw, 7.2rem);
}
.card-2__title {
  margin-top: 0;
}
.card-2__label {
  color: #fff;
  font-size: clamp(0.75rem, 2vw, 0.875rem);
}
.card-2__arrow {
  padding-left: clamp(0.5rem, 2vw, 1.5rem);
  margin: -3px;
}
.card-2--1 {
  background-image: url(../assets/img/offer_1.jpg);
}
.card-2--2 {
  background-image: url(../assets/img/offer_2.jpg);
}
.card-2--3 {
  background-image: url(../assets/img/offer_3.jpg);
  display: none;
}
@media screen and (min-width: 550px) {
  .card-2--3 {
    display: grid;
  }
}
.card-2--4 {
  background-image: url(../assets/img/offer_4.jpg);
  display: none;
  position: relative;
}
@media screen and (min-width: 750px) {
  .card-2--4 {
    display: grid;
  }
}

.contact-form {
  display: flex;
  padding: 1.25rem;
  max-width: 100%;
}
@media screen and (min-width: 600px) {
  .contact-form {
    gap: clamp(0.01rem, 0.8vw, 1.69rem);
  }
}
.contact-form__input {
  border: 2px solid #fff;
  width: 60vw;
  min-width: 13.8rem;
  max-width: 31.25rem;
  flex: 2;
}
.contact-form__input:hover, .contact-form__input:focus, .contact-form__input:active {
  outline: none;
  border: 2px solid #000;
}
.contact-form__input::-moz-placeholder {
  padding-right: 2rem;
  transform: translate(10%);
}
.contact-form__input::placeholder {
  padding-right: 2rem;
  transform: translate(10%);
}

.product-card {
  padding: clamp(0.3rem, 1vw, 0.75rem);
  border: 1px solid #C4C4C4;
  position: relative;
  font-weight: 500;
}
@media screen and (min-width: 1050px) {
  .product-card {
    border: 1px solid #fff;
  }
}
.product-card:hover, .product-card:active, .product-card:focus {
  border: 1px solid #C4C4C4;
}
.product-card__img {
  width: 100%;
}
.product-card__availability {
  font-size: clamp(0.75rem, 1vw, 0.875rem);
}
.product-card__availability--yes {
  color: #63DA46;
}
.product-card__availability--no {
  color: #F24D4D;
}
.product-card__availability--on-order {
  color: #979797;
}
.product-card__price {
  font-size: clamp(0.75rem, 3vw, 1.125rem);
  margin-bottom: 0;
}
.product-card__labels {
  position: absolute;
  top: clamp(1.83rem, 3vw, 3rem);
  right: 0;
}
@media screen and (min-width: 1050px) {
  .product-card__labels {
    right: 0.75rem;
  }
}
.product-card__label {
  font-size: clamp(0.75rem, 1.5vw, 1.125rem);
  color: #fff;
  padding: 0.2em 1em;
  margin: 0.06em 0;
  text-align: center;
}
.product-card__label--new {
  background-color: #63DA46;
}
.product-card__label--sale {
  background-color: #F24D4D;
}
.product-card__label--tip {
  background-color: #131313;
}
.product-card__button-wrapp {
  position: absolute;
  bottom: clamp(-0.2rem, 1vw, 0.55rem);
  right: clamp(0.3rem, 1vw, 0.75rem);
}

.footer {
  background-color: #131313;
  font-size: clamp(0.75rem, 1vw, 1.125rem);
}
.footer__wrapp {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.footer__logo-wrapp {
  max-width: 1440px;
  padding: clamp(1rem, 2vw, 3rem);
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  .footer__logo-wrapp {
    text-align: start;
  }
}
.footer__conteiner {
  padding: clamp(3.37rem, 6vw, 5.62rem) clamp(1rem, 2vw, 3rem);
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  color: #fff;
}
@media screen and (min-width: 700px) {
  .footer__conteiner {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .footer__conteiner {
    grid-template-columns: 3fr 3fr 4fr 2fr;
    text-align: start;
  }
}
.footer__link {
  color: #fff;
  font-weight: 700;
  padding: 0.6rem 0;
  display: inline-block;
  line-height: 1.7;
}
.footer__link:hover, .footer__link:active, .footer__link:focus {
  color: #ECB235;
}
.footer__submenu {
  margin: 0;
  padding-top: 15px;
  padding-left: 0;
  list-style: none;
}
.footer__submenu--last {
  padding-top: 0;
}
.footer__submenu-item--flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
@media screen and (min-width: 1100px) {
  .footer__submenu-item--flex {
    justify-content: start;
  }
}
.footer__submenu-link {
  color: #fff;
  padding: 0.2rem 0;
  display: inline-block;
  line-height: 1.91138rem;
}
.footer__submenu-link:hover, .footer__submenu-link:active, .footer__submenu-link:focus {
  color: #ECB235;
}

.copy {
  color: #fff;
  padding: clamp(1rem, 2vw, 3rem);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 750px) {
  .copy {
    flex-direction: row;
    justify-content: space-between;
  }
}
.copy__info {
  display: flex;
  gap: 1rem;
}

.header {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  padding: clamp(1.25rem, 4vw, 2.8rem);
  position: relative;
  justify-content: space-between;
}
.header__logo {
  background-color: #E9E9E9;
  padding: clamp(0.625rem, 2vw, 1.25rem) clamp(2rem, 7vw, 5rem);
  color: #000;
}
.header__search {
  position: relative;
}
.header__search-input {
  display: none;
}
.header__search-input:focus {
  outline: none;
  border-bottom: 1px solid black;
}
@media screen and (min-width: 1040px) {
  .header__search-input {
    border: none;
    display: block;
    padding: 0.75rem;
    border-bottom: 1px solid #C9C9C9;
    width: clamp(15rem, 20vw, 18rem);
  }
}
@media screen and (min-width: 1040px) {
  .header__search-icon {
    position: absolute;
    bottom: 0.625rem;
    right: 0.625rem;
  }
}
.header__currency {
  display: none;
}
@media screen and (min-width: 1190px) {
  .header__currency {
    display: block;
  }
}
.header__cart {
  font-size: 0.875rem;
}
.header__cart-count {
  font-size: 0.875rem;
  padding: 0.2rem 0.5rem;
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 50%;
}
.header__profile {
  display: none;
}
@media screen and (min-width: 1130px) {
  .header__profile {
    display: block;
  }
}

.mobile-nav {
  position: relative;
}
.mobile-nav__icon {
  z-index: 2000;
}
.mobile-nav__icon-close {
  position: absolute;
  top: 0;
  right: -13rem;
  z-index: 3000;
  opacity: 0;
  width: 0;
}
.mobile-nav__checkbox {
  display: none;
}
@media screen and (min-width: 700px) {
  .mobile-nav__button {
    display: none;
  }
}
.mobile-nav__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
  opacity: 0;
  width: 0;
  background-color: #ECB235;
}
.mobile-nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.mobile-nav__item {
  padding: 1rem;
}
.mobile-nav__link {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #000;
}
.mobile-nav__link:hover, .mobile-nav__link:active, .mobile-nav__link:focus {
  font-weight: 700;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__nav {
  opacity: 1;
  width: 100%;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__icon-close {
  opacity: 1;
  width: 100%;
}
@media screen and (min-width: 850px) {
  .mobile-nav {
    display: none;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 700px) {
  .navigation {
    display: block;
    padding-left: clamp(1rem, 5vw, 6rem);
  }
}
.navigation__list {
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navigation__item {
  margin: 0 0.625rem;
}
.navigation__link {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  padding: 0.2rem;
}
.navigation__link:hover {
  border-bottom: 1px solid #000;
}

.section {
  max-width: 1496px;
  margin: 0 auto;
}

.hero {
  background-image: url(../assets/img/hero_img.jpg);
  width: 100%;
  background-color: antiquewhite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;
  height: 93vh;
}

.hero_content {
  place-content: center;
  text-align: center;
  max-width: 623px;
  padding: 1.25rem;
}

.hero_text {
  color: #fff;
  max-height: 1107px;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.offer-1__grid {
  padding: clamp(1rem, 2vw, 3rem);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 1.25rem;
}
@media screen and (min-width: 850px) {
  .offer-1__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1050px) {
  .offer-1__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.offer-2 {
  text-align: center;
  background-color: #131313;
  height: clamp(17.75rem, 34vw, 38.125rem);
}
.offer-2__title {
  font-weight: 500;
  padding-top: 3rem;
  font-size: 2.25rem;
  position: absolute;
  bottom: 11rem;
}
.offer-2__flex {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: clamp(1rem, 2vw, 3rem);
  display: flex;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

.products__filter {
  display: flex;
  margin: 0 auto;
  gap: 1.88rem;
  justify-content: center;
  align-items: baseline;
}
.products__filter-label {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
}
.products__no-label {
  display: none;
}
@media screen and (min-width: 850px) {
  .products__no-label {
    display: block;
    font-size: 1rem;
    color: #979797;
  }
}
.products__grid {
  display: grid;
  margin: 0 auto;
  padding: clamp(1rem, 2vw, 3rem);
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
}
@media screen and (min-width: 850px) {
  .products__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1050px) {
  .products__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.blog {
  background-color: #131313;
  margin: 0 auto;
}
.blog__grid {
  position: relative;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  padding: clamp(1rem, 2vw, 3rem);
  justify-content: center;
  max-width: 1400px;
}
@media screen and (min-width: 700px) {
  .blog__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .blog__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.benefits {
  padding: clamp(2.94rem, 6vw, 9.13rem) 0;
}
.benefits__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: clamp(1rem, 2vw, 3rem);
  gap: clamp(1rem, 2vw, 3rem) 0;
}
@media screen and (min-width: 1200px) {
  .benefits__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.contact {
  padding: clamp(2.94rem, 6vw, 9.13rem) 0;
  background-color: #ECB235;
  background-image: url(../assets/img/bubble.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 600px) {
  .contact {
    background-size: 41%;
    background-position: 25% 60%;
  }
}
.contact__title {
  margin-top: 0;
}/*# sourceMappingURL=style.css.map */