@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.section {
    max-width: 1496px;
    margin: 0 auto;
}

.hero {
    position: relative;
    background-image: url(../assets/img/hero_img.jpg);
    width: 100%;
    background-color: antiquewhite;
    color: v.$color-white;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    height: 93vh;

    &__content {
        max-width: 623px;
        padding: 1.25rem;
    }
    
    &__text {
        max-height: 1107px;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: 500;
        letter-spacing: .2rem;
    }

    &__scroll-wrapp {
        display: none;
        position: absolute;
        bottom: 0;
        padding: clamp(1rem, 2vw, 3rem);
        height: 20vmin;
        width: 100vw;
        max-width: 1400px;
        margin: 0 auto;

        @include mx.media-min(1000px) {
            display: block;
        }
    }

    &__scroll-text {
        text-align: start;
        position: absolute;
        top: -80px;
        left: -25px;
        transform: rotate(-90deg);
    }
    
    &__scroll {
        position: absolute;
        bottom: 0;
        height: 10rem;
        width: 100%;
        max-width: 1400px;
        border-left: 1px solid v.$color-white;
        z-index: 300;
        
    }
}



// Offer

.offer-1 {
    
    &__grid {
        padding: clamp(1rem, 2vw, 3rem);
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
        gap: 1.25rem;

        @include mx.media-min(850px) {
            grid-template-columns: 1fr 1fr;
        }

        @include mx.media-min(1050px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    
}

.offer-2 {
    text-align: center;
    background-color: v.$color-background;
    height: clamp(17.75rem, 34vw, 38.125rem);

    &__title {
        font-weight: 500;
        padding-top: 3rem;
        font-size: 2.25rem;
        position: absolute;
        bottom: 11rem;
    }
    
    &__flex {
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        padding: clamp(1rem, 2vw, 3rem);
        display: flex;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
    }
    
}

.products {

    &__filter {
        display: flex;
        margin: 0 auto;
        padding: clamp(2rem, 3vw, 3rem) 0;
        gap: 3.5rem;
        justify-content: center;
        align-items: baseline;
    }

    &__filter-button {
        font-size: 1rem;
        font-weight: 500;
        color: v.$color-grey-3;
        border: 0;
        background-color: v.$color-white;

        &:hover, &:focus, &:active {
            color: v.$color-black;
            transform: scale(1.5);
        }
    }

    &__no-button {
        display: none;

        @include mx.media-min(850px) {
            display: block;
            
        }
    }

    &__grid {
        display: grid;
        margin: 0 auto;
        padding: clamp(1rem, 2vw, 3rem);
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 1rem;
        
        

        @include mx.media-min(850px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include mx.media-min(1050px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

.blog {
    background-color: v.$color-background;
    margin: 0 auto;

    &__grid {
        position: relative;
        display: grid;
        margin: 0 auto;
        grid-template-columns:  1fr;
        padding: clamp(1rem, 2vw, 3rem);
        justify-content: center;
        max-width: 1400px;

        @include mx.media-min(700px) {
            grid-template-columns: 1fr 1fr;
        }

        @include mx.media-min(900px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.benefits {
    padding: clamp(2.94rem, 6vw, 9.13rem) 0;

    &__grid {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: clamp(1rem, 2vw, 3rem);
        gap: clamp(1rem, 2vw, 3rem) 0;

        @include mx.media-min(1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

.contact {
    padding: clamp(2.94rem, 6vw, 9.13rem) 0;
    background-color: v.$color-primary;
    background-image: url(../assets/img/bubble.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: grid;
    place-items: center;

    @include mx.media-min(600px) {
        background-size: 41%;
        background-position: 25% 60%;
    }

    &__title {
        margin-top: 0;
    }
}