@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


.mobile-nav {
    position: relative;

    &__icon {
        z-index: 2000;
    }

    &__icon-close {
        position: absolute;
        top: 0;
        right: -13rem;
        z-index: 3000;
        opacity: 0;
        width: 0;
    }

    &__checkbox {
        display: none;
    }

    &__button {
        @include mx.media-min(700px) {
            display: none;
        }
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2000;
        opacity: 0;
        width: 0;
        background-color: v.$color-primary;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        padding-left: 0;
    }

    &__item {
        padding: 1rem;
    }

    &__link {
        color: v.$color-black;
        font-family: v.$font-base;
        font-size: 1rem;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        cursor: pointer;
        border-bottom: 1px solid v.$color-black;

        &:hover, 
        &:active, 
        &:focus {
            font-weight: 700;
        }
    }


    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox:checked ~ &__icon-close {
        opacity: 1;
        width: 100%;
    }

    @include mx.media-min(850px) {
        display: none;
    }

}