@use '../abstracts/variables' as v;

.button {
    color: v.$color-black;
    background-color: v.$color-white;
    padding: clamp(0.625rem, 2vw, 1.25rem) clamp(2rem, 7vw, 5rem);

    &:hover {
        color: v.$color-black;
        background-color: v.$color-primary;
    }

    &--primary {
        border: 1px solid v.$color-black;
    }

    &--big {
        background-color: v.$color-primary;
        padding: clamp(1.4rem, 4vw, 2.5rem) clamp(1rem, 3vw, 3rem);
        font-size: clamp(0.75rem, 2vw, 0.875rem);

        &:hover {
            color: v.$color-primary;
            background-color: v.$color-background;
        }
    }
}