@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mx;

.card-2 {
  background-color: antiquewhite;
  height: clamp(17.75rem, 34vw, 38.125rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 1.25rem;
  display: grid;
  align-content: end;


  &__text-box {
    text-align: start;
    padding-bottom: clamp(3.5rem, 7vw, 7.2rem);
  }

  &__title {
    margin-top: 0;
  }

  &__label {
    color: v.$color-white;
    font-size: clamp(0.75rem, 2vw, 0.875rem);
  }

  &__arrow {
    padding-left: clamp(.5rem, 2vw, 1.5rem);
    margin: -3px;
  }


  &--1 {
    background-image: url(../assets/img/offer_1.jpg);
  }

  &--2 {
    background-image: url(../assets/img/offer_2.jpg);
  }

  &--3 {
    background-image: url(../assets/img/offer_3.jpg);
    display: none;

    @include mx.media-min(550px) {
      display: grid;
    }
  }

  &--4 {
    background-image: url(../assets/img/offer_4.jpg);
    display: none;
    position: relative;

    @include mx.media-min(750px) {
      display: grid;
    }
  }
}
