@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


.u-padding-top-big {
    padding-top: 5.625rem;
}

.u-padding-top-medium {
    padding-top: clamp(1rem, 3vw, 6rem);
}

.u-padding-top-bottom {
    padding: clamp(3.37rem, 6vw, 5.62rem) 0;
}

.u-wrapp-pos-absolute {
    position: absolute;
    bottom: clamp(1rem, 2vw, 3rem);
    right: clamp(1rem, 2vw, 3rem);
}

.u-translate-y {
    transform: translateY(clamp(8rem, 20vw, 16rem));
}

.u-text-center {
    text-align: center;
}