@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

// COLORS

$color-primary: #ECB235;
$color-background: #131313;

$color-grey: #E9E9E9;
$color-white: #fff;
$color-black: #000;


// FONTS

$font-base: 'Montserrat', sans-serif;    // 500, 700

// SPACERS

$spacer-half: 0.625rem;
$spacer: 1.25rem;
$spacer-double: 2.5rem;
$spacer-medium: 3.75rem;
$spacer-large: 5rem;